<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Недвижимость">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Недвижимость</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Недвижимость. Объявления</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-sm-4">
              <form role="form" class="panel panel-default" method="GET">
                <div class="panel-body">
                  <p>город / районный центр</p>
                  <div class="form-group">
                    <select name="oblast_district" class="form-control">
                      <option value="Череповецкий район">Череповец</option>
                      <option value="Шекснинский район">Шексна</option>
                      <option value="Вологодский район">Вологда</option>
                      <optgroup label="Б">
                        <option value="Бабаевский район">Бабаево</option>
                        <option value="Бабушкинский район">Село имени Бабушкина</option>
                        <option value="Белозерский район">Белозерск</option>
                      </optgroup>
                      <optgroup label="В">
                        <option value="Великоустюгский район">Великий Устюг</option>
                        <option value="Верховажский район">Верховажье</option>
                        <option value="Вожегодский район">Вожега</option>
                        <option value="Вологодский район">Вологда</option>
                        <option value="Вытегорский район">Вытегра</option>
                      </optgroup>
                      <optgroup label="Г">
                        <option value="Грязовецкий район">Грязовец</option>
                      </optgroup>
                      <optgroup label="К">
                        <option value="Кадуйский район">Кадуй</option>
                        <option value="Кирилловский район">Кириллов</option>
                        <option value="Кичменгско-Городецкий район">Кичменгский Городок</option>
                      </optgroup>
                      <optgroup label="Л">
                        <option value="Вашкинский район">Липин Бор</option>
                      </optgroup>
                      <optgroup label="Н">
                        <option value="Никольский район">Никольск</option>
                        <option value="Нюксенский район">Нюксеница</option>
                      </optgroup>
                      <optgroup label="С">
                        <option value="Сокольский район">Сокол</option>
                        <option value="Сямженский район">Сямжа</option>
                      </optgroup>
                      <optgroup label="Т">
                        <option value="Тарногский район">Тарногский Городок</option>
                        <option value="Тотемский район">Тотьма</option>
                      </optgroup>
                      <optgroup label="У">
                        <option value="Усть-Кубинский район">Устье</option>
                        <option value="Устюженский район">Устюжна</option>
                      </optgroup>
                      <optgroup label="Х">
                        <option value="Харовский район">Харовск</option>
                      </optgroup>
                      <optgroup label="Ч">
                        <option value="Чагодощенский район">Чагода</option>
                        <option value="Череповецкий район">Череповец</option>
                      </optgroup>
                      <optgroup label="Ш">
                        <option value="Шекснинский район">Шексна</option>
                        <option value="Междуреченский район">Шуйское</option>
                      </optgroup>
                    </select>
                  </div>
                  <div class="form-group ">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="new_building" value="True">
                        только новостройки
                      </label>
                    </div>
                  </div>
                  <p><strong>Цена</strong></p>
                  <div class="form-group ">
                    <div class="input-group">
                      <span class="input-group-addon">от</span>
                      <input autocomplete="off" type="text" value="" name="min_price" class="form-control js-price-format" placeholder="любая">
                      <span class="input-group-addon">р.</span>
                    </div>
                  </div>
                  <div class="form-group ">
                    <div class="input-group">
                      <span class="input-group-addon">до</span>
                      <input autocomplete="off" type="text" value="" name="max_price" class="form-control js-price-format" placeholder="любая">
                      <span class="input-group-addon">р.</span>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">Показать</button>
                </div>
              </form>
            </div>
            <div class="col-sm-8">
              <div class="panel panel-default">
                {% for ad in ads %}
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-12">
                        <div>
                          <div class="row">
                            <div class="col-sm-7">
                              <p><strong>Продается {{ ad.rooms_number }}-комнатная квартира</strong></p>
                            </div>
                            <div class="col-sm-5">
                              <p class="text-right"><strong class="nowrap">{{ ad.price }} р.</strong></p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p>{{ ad.settlement }}, {{ ad.address }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <p>
                          <span class="label label-success">комнат: {{ ad.rooms_number }}</span>
                          <span class="label label-primary">{{ ad.premise_area }} кв.м.</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <hr>
                {% endfor %}
                <div class="panel-body">
                  <div class="clearfix">
                    <ul class="pagination pull-right">
                      <li class="disabled"><span>«</span></li>
                      <li class="active"><span>1 <span class="sr-only">(current)</span></span></li>
                      <li><a href="?page=2" role="next">2</a></li>
                      <li><a href="?page=3" role="next">3</a></li>
                      <li><a href="?page=4" role="next">4</a></li>
                      <li><a href="?page=2" role="next">»</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
